<html>
<head>
    <meta charset="utf-8">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/main.js"></script>
</head>

<body>

<div class="wrapper">
    <header class="header">
        <h1>Архив алгоритмов</h1>
        <a id='exit' href="/logout">Выход</a>
    </header><!-- .header-->
    <div class="middle">
        <div id="left">
            <div class="content" id="list_catalog">
            </div>
        </div>
        <div id="right">
            <div class="content">
                <div>
                    <ul class="nav_ul">
                    </ul>
                    <div class="update-dir" onclick="refresh()"><span>Обновить</span></div>
                </div>
                <div id="catalog" class="directory">

                </div>
            </div>
        </div>

    </div><!-- .middle-->

    <footer class="footer">
        <strong>Footer</strong>
    </footer><!-- .footer -->

</div><!-- .wrapper -->

<div id="win1" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Создание алгоритма</h3>
        <div class="model_algorithms">
            <span>Введите имя алгоритма:</span>
            <input id = "nameAlghoritm" type="text"  class="input name"/>
            <a onclick=add_alghoritm()>Принять</a>
        </div>
    </div>
</div>
<div id="win2" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Создание каталога</h3>
        <div class="model_algorithms">
            <span>Введите имя каталога:</span>
            <input id = "nameCatalog" type="text"  class="input name"/>
            <a onclick=add_catalog()>Принять</a>
        </div>
    </div>
</div>
<div id="win3" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Настройка прав доступа к каталогу</h3>
        <div class="model_algorithms">
            <input id = "nameUser" type="text" style="width: 299px" placeholder="Введите имя пользователя"/>
            <span onclick=addUserAccess() class="add_user">+</span>
            <ul class="ul_list_user">
            </ul>
            <a href='#' style="margin: 0">Принять</a>
        </div>
    </div>
</div>

</body>
</html>