<html>
<head>
    <meta charset="utf-8">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>

<div class="wrapper">
    <header class="header">
        <h1>Архив алгоритмов</h1>
        <a id='exit' href="/logout">Выход</a>
    </header><!-- .header-->
    <div class="middle">
        <div id="left">
            <div class="content" id="list_catalog">
            </div>
        </div>
        <div id="right">
            <div class="content">
                <div>
                    <ul class="nav_ul">
                    </ul>
                    <div class="update-dir" onclick="refresh()"><span>Обновить</span></div>
                    <div class="update-dir" onclick="back()"><img src="/images/back.png" width="18" height="18"/></div>
                </div>
                <div id="catalog" class="directory">

                </div>
            </div>
        </div>

    </div><!-- .middle-->

    <footer class="footer">
        <strong>Footer</strong>
    </footer><!-- .footer -->

</div><!-- .wrapper -->

<div id="win1" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Создание алгоритма</h3>
        <div class="model_algorithms">
            <span>Введите имя алгоритма:</span>
            <input id = "nameAlghoritm" type="text"  class="input name"/>
            <a onclick=add_alghoritm()>Принять</a>
        </div>
    </div>
</div>
<div id="win2" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Создание каталога</h3>
        <div class="model_algorithms">
            <span>Введите имя каталога:</span>
            <input id = "nameCatalog" type="text"  class="input name"/>
            <a onclick=add_catalog()>Принять</a>
        </div>
    </div>
</div>
<div id="win3" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Настройка прав доступа к каталогу</h3>
        <div class="model_algorithms">
            <input id = "nameUser" type="text" style="width: 299px" placeholder="Введите имя пользователя"/>
            <span onclick=addUserAccess() class="add_user">+</span>
            <ul class="ul_list_user">
            </ul>
        </div>
    </div>
</div>

 <div id="win4" class="modalbg">
    <div class="dialog">
        <a href="#close" title="Закрыть" class="close">X</a>
        <h3>Работа с алгоритмом</h3>
        <div class="model_algorithms">
           <!-- <a onclick=getIdenteficators()>Список переменных</a>-->
            <a onclick="calculate()">Вычислить выражение</a>
            <a onclick=deleteAlghoritm()>Удалить алгоритм</a>
            <p>Входные данные:</p>
            <input id = "enter_value" type="text" style="width: 330px" placeholder="Пример: x,y,z,x1,x2"/>
            <p>Математическое выражение:</p>
            <textarea id = "formula" type="text" style="width: 330px; height: 100px;" placeholder="Пример: (x+y)*sin(z)"></textarea>
            <a onclick=saveAlghoritm() style="margin-top: 15px;" class="save">Сохранить</a>
        </div>
    </div>
</div>
</body>
</html>